.para {
  background-image: url('../../assets/background1.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.animation {
  background-image: url('../../assets/background1.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 1000px;
}

.div {
  background-color: #f7caca;
  height: 100vh;
}
