@media (max-width: 568px) {
  .welcome-letter {
    font-size: 20px;
  }
  .plane {
    font-size: 35px;
  }
}
@media (max-width: 481px) {
  .welcome-letter {
    font-size: 16px;
    margin-right: 5px;
  }
  .plane {
    font-size: 25px;
  }
}
