.icon {
  font-size: 60px;
}

@media (max-width: 768px) {
  .profile-image {
    width: 350px;
  }

  .icon {
    font-size: 45px;
  }
}
@media (max-width: 568px) {
  .profile-image {
    width: 300px;
  }

  .icon {
    font-size: 40px;
  }
}
@media (max-width: 481px) {
  .profile-image {
    width: 250px;
  }

  .skills {
    width: 100%;
    max-width: 250px;

    margin: 0 auto;
  }
}
