.dark-mode {
  --background-color: #3d3e47;
  --foreground-color: #8c46ae;
  --btn-color: #ae5cf2;
  --welcome-background-color: #231b4b;
  --letter-color: #f1ddff;
  --nav-color: #3a3853;
  --detail-btn-color: #bd6c99;
  --contact-form-color: #515061;
  --detail-letter: hsl(320, 6%, 63%);
  --container-color: #252234;

  /*Svg*/
  --first-color: #3d2697;
  --second-color: #584772;
  --third-color: #61557d;
  --fourth-color: #50475c;
  --fifth-color: #3d3e47;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: background-color 0.3s ease;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.nav-bar.scrolled {
  background-color: var(--nav-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h5 {
  padding-left: 20px;
  line-height: 2;
}
ul {
  display: flex;
  padding-right: 20px;
  line-height: 2;
  z-index: 20;
}

li {
  list-style: none;
  padding-right: 20px;
}
.profile {
  width: 100%;
  height: auto;
}

.drkSet {
  display: flex;
}
.nav-menu {
  position: fixed;
  right: -115%;
  top: 0px;
  background-color: var(--nav-color);
  width: 100%;
  transition: 0.7s;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 50px;
  z-index: 5;
  padding: 10px;
}
.nav-menu.active {
  left: 0;
}

.nav-item {
  list-style: none;
  margin: auto 0;
  text-align: center;
}
a {
  text-decoration: none;
  letter-spacing: 2px;
}
.nav-link {
  transition: 0.2s ease;
}
.nav-link:hover {
  color: var(--foreground-color);
}
.hamburger {
  cursor: pointer;
  z-index: 6;
  padding: 20px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--foreground-color);
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .nav-menu {
    position: static;
    right: 0%;
    flex-direction: row;
    background-color: transparent;
  }
}
