.profile-image {
  width: 100%;
  width: 450px;
}

.detail-aboutme-container {
  width: 100%;
  max-width: 750px;
  background-color: var(--container-color);
}

@media (max-width: 768px) {
  .profile-image {
    width: 350px;
  }
  .detail-aboutme-container {
    max-width: 500px;
  }
}
@media (max-width: 568px) {
  .profile-image {
    width: 300px;
  }
  .detail-aboutme-container {
    max-width: 350px;
  }
}
@media (max-width: 481px) {
  .profile-image {
    width: 250px;
  }
  .detail-aboutme-container {
    max-width: 300px;
  }
}
